body {
    background-color: black;
}

h1 { 
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #1f2937;
}

li {
    font-size: 24px;
    font-weight: 800;
    display: inline-block;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

img {
    border-radius: 15px;
    border-color: rgb(100, 100, 226);
    border-width: 5px;
    border-style: solid;
}

blockquote {
    width: 750px;
}

button { 
    background-color: #3882f6;
    color: white;
    height: 40px;
    margin-top: 30px;
    margin-right: 100px;
    width: 100px;
}

footer {
    background-color: #1F2937;
    text-align: center;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container {
    max-width: 1450px;
    margin:auto;
}

.logo {
    padding-left: 200px;
    padding-right: 475px;
    color: #F9FAF8;
}

.signup-link-image {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F2937;
    height: 450px;
}

.signup-link-text{
    width:400px;
}

.info-images {
    display: flex;
    align-items: center;
    height: 400px;
    justify-content: center;
    text-align: center;
    background-color: white;
}

.inspirational-quote {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 400px;
    align-items: center;
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: lighter;
}

.call-to-action {
    display: flex;
    justify-content: space-evenly;   
    height: 300px;
    align-items: center;
    background-color: white;
}

.hero-text {
    color: #e5e7eb;
    font-size: 18px;
}

.cta-bar {
    display: flex;
    justify-content:space-around;
    background-color: #3882f6;
    height: 100px;
    width: 1000px;
    color: white;
}

.cta {
    padding-right: 500px;
    padding-left: 100px;
    padding-top: 40px;
}
