body {
    background-color:rgb(232, 233, 236)
}

h2 {
    text-align: center;
}


.container {
    max-width: 1450px;
    margin: auto;
}

.header {
    display: flex;
    column-gap: 2em;
    justify-content: space-around;
    background-color: rgb(51, 59, 92);
    color: white;
    height: 80px;
}

.header-links a {
    text-decoration: none;
    color: white;
}

#push {
    margin-left: auto;
}

.signup-link-image {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(51, 59, 92);
    height: 450px;
}

.info-images {
    display: flex;
    align-items: center;
    height: 500px;
    justify-content: center;
    text-align: center;
}

